<div class="log-form">
  <h2>Login to your account</h2>
  <form class="login" #form="ngForm" (ngSubmit)="loginHandler(form)">
    <input
      #emailInput="ngModel"
      ngModel
      required
      type="email"
      name="email"
      placeholder="email"
      [appEmail]="['bg', 'com']"
    />

    <ng-container *ngIf="emailInput.touched">
      <p class="error" *ngIf="emailInput.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="emailInput.errors?.['appEmailValidator']">
        Email is invalid!
      </p>
    </ng-container>
    <input
      #passwordInput="ngModel"
      type="password"
      placeholder="password"
      ngModel
      required
      name="password"
      [minlength]="5"
    />
    <ng-container *ngIf="passwordInput.touched">
      <p class="error" *ngIf="passwordInput.errors?.['required']">Password is required!</p>
      <p class="error" *ngIf="passwordInput.errors?.['minlength']">Password must be at least 5 symbols!</p>
    </ng-container>
    <button type="submit" class="btn">Login</button>
    <a class="existing" routerLink="/auth/register">Not a member? Register Here!</a>
  </form>
</div>
