<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">PcBuildz</span></p>
    </div>
    <div class="mini-navbar">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">All Buildz</a>
        </li>
        <li>
            <!-- if User  -->
          <a href="#">Recent Buildz</a>
        </li>
        <li>
            <!-- if User  -->
          <a href="#">Your Buildz</a>
        </li>
        <li>
          <a class="logo-wrap" href="#">Login</a>
        </li>
        <li>
          <a class="logo-wrap" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</header>
