.card {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
   
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  // photos css

  h1 {
    text-align: center;
    padding-top: 3%;
}

.our_photos {
    text-align: center;
    margin-top:30px;
    background-color: #fff;
    padding: 50px 50px;
    display: inline-block;
    justify-content: center;
    margin-left: 15%;
    // grid-template-columns:  300px 300px 300px; /*Make the grid smaller than the container*/

}

.our_photos .photo_box {
    text-align: center;
}

.our_photos .photo_box figure {
    margin: 0;
}

.our_photos .photo_box img {
    size: 100px 100px;
    image-resolution: 100px 100px;
    border: 7px solid black;
}

.our_photos .photo_box h3 {
    width: 300px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    background-color: #252525;
    font-weight: 100px;
    margin: 0 auto;
    padding: 10px 0;
    transition: ease-in all 0.5s;
    text-decoration: none;
}
.our_photos .photo_box a{
    text-decoration: none;
    color: white;
}

.our_photos .photo_box p {
    width: 400px;
    color: rgb(0, 0, 0);
    font-size:15px;
    line-height: 20px;
    // background-color: #252525;
    font-weight: 300;
    margin:0 0;
    padding: 0 0;
    transition: ease-in all 0.5s;
}

.our_photos .photo_box h3:hover {
   background: rgb(154, 70, 1) 25%;
   transition: ease-in all 0.5s;
}

// col-md-4 .margin_bottom1 {
//     margin-bottom: 10px;
// }
