<!-- list of products (for each) -->
<div class="products">
  <div class="our_products">
    <div class="row" *ngFor="let item of itemsList">
      <div class="col-md-4 margin_bottom1">
        <div class="product_box">
          <figure>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAMCJFc2pObsJgTuDdo0UH6Cpc_9Dje18IJw&usqp=CAU"
              alt="#"
            />
          </figure>
          <h3>
            {{ item.title }}<br /><br />{{ item.price }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
