footer {
    background: rgb(0, 0, 0);
       
text-align: center;
width: 100%;
position: absolute;
bottom: 0;
padding: 1em;
}
footer h1 {
    font-family: 'Comic-Sans',cursive;
    color: white;
}


